[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "==2.8.3"
whitenoise = "==4.1.4"
gunicorn = "==19.9.0"
dj-database-url = "==0.5.0"
coverage = "*"
django-allauth = "==0.41.0"
python-coveralls = "<5.0"
prospector = "*"
djangorestframework = "*"
django-extensions = "*"
music21 = "*"
django-debug-toolbar = "*"
django-crispy-forms = "*"
mypy = "*"
django-stubs = "*"

[requires]
python_version = "3.8"
