<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Questions</title>
</head>
<body>
    <h1 class="text-muted">Questions</h1>
    <br>
        <h2 name="question">What is the fourth scale degree of Messian's 9 note symmetrical scale, also known as the fourth mode of limited transposition,
        if the root is concert G? </h2>
    <br>
        <form>
            <fieldset class="custom-control custom-radio" id="answers">
                <input type="radio" value="C#" name="answer" id="first choice">C#<br>
                <input type="radio" value="B" name="answer" id="second choice">B<br>
                <input type="radio" value="Bb" name="answer" id="third choice">Bb<br>
                <input type="radio" value="C" name="answer" id="fourth choice">C<br>
            </fieldset>
        </form>
</body>
</html>