/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

/*this stuff is from Rich's todo app applied here to the radio inputs for the questions.html page*/
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-inset{
        box-shadow: inset 0 0 10px #000000;

}

.list-group-item{
    transition: transform 1s;
    float: left;
    clear: none;
}
.list-group-item:hover{
    transform: scale(1.05, 1.4);
    background-color: #eeeeee;
    border-radius: 20px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

fieldset {
      overflow: hidden
}


label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
    font-family: "MV Boli";

}

input[type=radio],

input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}

#question {
    color: #003366;
}